main {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
}
section.main_visual {
	position: relative;
	width: 100%;
	height: 1260px;
	background: url('../img/main/bg_main.png') no-repeat center top;
	background-size: cover;
}

.slide_text {
	font-family: 'Cafe24Surround';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 240px;
	width: 100%;
}

.slide_text h3 {
	font-family: 'Cafe24Surround';
	text-align: center;
	font-size: 50px;
	color: #fff;
	padding: 20px 0;
}

.slide_text h2 {
	font-family: 'Cafe24Surround';
	display: block;
	font-size: 100px;
	color: #307c40;
	text-align: center;
	padding-bottom: 20px;
}
.slide_text h2 span {
	display: inline-block;
	color: #91430f;
}
.slide_text .m_tit {
	margin: 0 auto;
	display: block;
}

.slide_text img {
	margin: 0 auto;
	display: block;
}

/******************************************반응형************************************************/
@media (max-width: 1280px) {
	section.main_visual {
		height: 900px;
	}
	.slide_text {
		top: 140px;
	}

	.slide_text h3 {
		font-size: 30px;
		padding: 20px 0;
	}

	.slide_text h2 {
		font-size: 70px;
		padding-bottom: 10px;
	}

	.slide_text img {
		margin: 0 auto;
		display: block;
	}

	.mush_tit img {
		width: 80px;
	}
	.m_tit img {
		height: 140px;
	}
}

@media (max-width: 1279px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
	.slide_text {
		top: 230px;
	}

	.slide_text h3 {
		font-size: 26px;
		padding: 10px 0;
	}

	.slide_text h2 {
		font-size: 50px;
		padding-bottom: 10px;
	}

	.slide_text img {
		margin: 0 auto;
		display: block;
	}

	.mush_tit img {
		width: 80px;
	}
	.m_tit img {
		height: 100px;
	}
}

@media (max-width: 1023px) {
}

@media (max-width: 990px) {
}

@media (max-width: 768px) {
	section.main_visual {
		height: 800px;
	}
	.slide_text {
		top: 140px;
	}
}

@media (max-width: 750px) {
	.slide_text {
		top: 140px;
	}
}

@media (max-width: 640px) {
}

@media (max-width: 560px) {
}

@media (max-width: 555px) {
}

@media (max-width: 540px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (max-width: 359px) {
}
