.section3 {
	height: 680px;
	position: relative;
	margin: 150px 0 160px 0;
}

.section3 .con3Wr {
	height: 100%;
	position: relative;
}

.section3 .con3Wr::before {
	content: '';
	position: absolute;
	display: block;
	max-width: 870px;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background: url('../img/main/tit_bg.png') no-repeat bottom;
	z-index: -1;
}
.section3 .con3L {
	float: left;
	width: 38%;
	padding-top: 214px;
	min-height: 407px;
	opacity: 1;
	padding-left: 320px;
}
.section3 .con3L .snsLink li {
	display: inline-block;
	margin-right: 15px;
}
.section3 .con3L h2 {
	text-align: left;
	margin: 20px 0 30px;
	color: #333;
	font-size: 60px;
	font-family: 'Cafe24Surround';
	letter-spacing: -2px;
}
.section3 .con3L .title > p {
	color: #333;
	font-size: 20px;
}
.section3 .ctrl {
	margin-top: 60px;
}
.section3 .prev {
	background: url('../img/main/prev_b.png') no-repeat center;
}

.section3 .next {
	background: url('../img/main/next_b.png') no-repeat center;
}

.section3 .stop {
	display: none !important;
}

.section3 .ctrl a {
	background-size: cover;
	width: 60px;
	height: 60px;
	display: inline-block;
}

.section3 .con3R {
	float: right;
	width: 1050px;
	margin: 0 100px 0 0;
	opacity: 1;
}
.section3 .con3R a img {
	display: block;
	max-width: 100%;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.section3 .con3R a:hover img,
.section3 .con3R a:focus img {
	transform: scale(1.1);
	border-radius: 0;
}
.section3 .galleryWr {
	overflow: hidden;
	padding: 120px 0 80px;
}
.section3 .galleryWr .clearfix {
	width: 1000%;
}
.section3 .galleryWr .item {
	float: left;
	width: 320px;
	max-width: 320px;
	margin-right: 40px;
	border-radius: 20px;
	height: 430px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 10px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
.section3 .galleryWr .item.active {
	border-radius: 25px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}
.section3 .galleryWr .item.active img {
	border-radius: 0;
}
.section3 .galleryWr .item a,
.section3 .galleryWr .item span,
.section3 .galleryWr .txtBox em,
.section3 .galleryWr .txtBox strong {
	display: block;
}
.section3 .item .imgBox {
	overflow: hidden;
	max-height: 250px;
}
.section3 .item.insta .imgBox {
	position: relative;
	height: 250px;
}
.section3 .item.insta .imgBox img {
	position: absolute;
	width: 100%;
	/* height: auto; */
	top: 50%;
	transform: translateY(-50%);
}
.section3 .item .imgBox img {
	border-radius: 20px 20px 0 0;
	height: 220px;
	object-fit: cover;
	width: 100%;
}
.section3 .item .txtBox {
	padding: 30px;
	background: #fff;
	height: 220px;
}

.section3 .galleryWr .txtBox .g_desc {
	font-size: 14px;
	width: 260px;
	margin: 0 0 18px;
	display: -webkit-box; /* 반드시 block 성격을 띠도록 */
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	text-overflow: ellipsis;
}
.section3 .item .txtBox em {
	font-size: 14px;
	color: #999;
}

.section3 .item .txtBox strong {
	font-size: 1.25em;
	color: #785f4e;
	margin: 0 0 18px;
	line-height: 1.4;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.section3 .slick-list {
	padding-bottom: 20px;
}

.ctrl a {
	cursor: pointer;
}

@media (max-width: 1900px) {
	.section3 .con3L {
		width: 26%;
		padding-left: 100px;
	}
}

@media (max-width: 1600px) {
	.section3 .con3R {
		width: 65%;
		overflow: unset;
	}
	.section3 .con3Wr::before {
		left: calc(-25% + 80px) !important;
	}
	.section3 .con3L .video a img {
		width: 110%;
	}

	.section3 .galleryWr .item {
		max-width: 96%;
		margin-right: 20px;
	}
}

@media (max-width: 1320px) {
}

@media (max-width: 1279px) {
	.section3 .con3L {
		width: 32%;
	}
	.section3 .con3L h2 {
		font-size: 46px;
	}
	.section3 .con3R {
		width: 52%;
		margin-left: -5%;
	}

	.section3 .galleryWr {
		padding: 120px 0;
	}
}

@media (max-width: 1200px) {
}

@media (max-width: 1080px) {
	.section3 .con3Wr::before {
		width: auto;
		height: 100%;
		right: 0;
		background: #fcead6;
		bottom: auto;
		max-width: 100%;
		left: 0 !important;
	}
	.section3 .con3L {
		float: none;
		width: 100%;
		left: 0;
		min-height: auto;
		padding-top: 0;
		padding-left: 0;
	}
	.section3 .con3L .title > p {
		/* display: none; */
		float: left;
		display: block;
	}
	.section3 .con3L h2 {
		float: left;
		display: block;
	}
	.section3 .ctrl {
		/* float: right; */
		margin: 20px auto;
		display: flex;
	}
	.section3 .con3R {
		float: left;
		width: 100%;
		padding: 0 20px 0 20px;
		margin: 0;
	}

	.section3 .con3L .title {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		padding: 20px 0 0;
	}

	.section3 .galleryWr .item {
		height: 420px;
	}

	.section3 .item .txtBox {
		padding: 20px;
	}
}

@media (max-width: 960px) {
}
@media (max-width: 840px) {
}

@media (max-width: 768px) {
	.section3 .galleryWr .item {
		width: calc(50vw - 90px);
	}
	.section3 .galleryWr .item img {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.section3 {
		padding: 0;
		margin: 80px 0 0;
	}

	.section3 .con3L h2 {
		font-size: 36px;
	}
	.section3 .con3L .title > p {
		font-size: 14px;
	}

	.section3 .con3R {
		margin-left: 5px;
		padding: 0 0 20px 0;
	}
	.section3 .con3R a.item1,
	.section3 .con3R a.item5 {
		width: 100%;
	}
	.section3 .con3R a img {
		width: 100%;
	}
	.section3 .galleryWr .item {
		width: calc(50vw - 40px);
		margin-right: 30px;
	}
}
@media (max-width: 570px) {
	.section3 .item .txtBox strong {
		font-size: 1.25em;
	}
}
@media (max-width: 425px) {
	.section3 .galleryWr .item {
		width: calc(100vw - 50px);
		margin-right: 30px;
	}
	.section3 .con3L {
		padding-top: 4%;
	}
	.section3 .con3L h2 {
		margin-bottom: 0;
		float: none;
	}
	.section3 .ctrl {
		float: none;
		margin: 15px auto 10px;
	}
}
